* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(212, 228, 241);
}

header { 
  background-color: rgb(59, 143, 208);
  font-size: 20px;
  padding: 2px 0;
}

a {
  color: rgb(94, 94, 249);
  text-decoration: none;
}

.links-container > li {
  display: inline-block;
  margin: 0 16px;
  padding: 10px;
}

.links-container > li > a {
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}

.links-container > li:first-child  > a{
  background-color: rgb(235, 235, 235);
  color: rgb(255, 35, 193);
  padding: 10px 20px;
  font-weight: bolder;
}

.main-container {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.left-content , .center-content , .rigth-content {
  display: inline-block;
  vertical-align: top;
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 8px;
}

.left-content {
  width: 15%;
}

.center-content {
  border-radius: 8px 100px 8px 8px;
  width: 52%;
  text-align: left;
}

.rigth-content {
  width: 25%;
}

#cadu-img {
  width: 90%;
  padding-top: 10px;
  padding-bottom: 15px;
  margin-bottom: 6px;
  border-bottom: 3px solid rgb(205, 205, 205);
}

.main-container > .left-content > div {
  text-align: left;
  padding-left: 10px;
}

.sub-name {
  color: rgb(20, 140, 214);
  font-weight: bolder;
}

.main-container > .left-content > div > p:first-of-type {
  margin-top: 10px;
}

.main-container > .left-content > div > p {
  color: rgb(134, 134, 134);
}

.main-container > .left-content > div {
  padding-bottom: 8px;
  margin-bottom: 6px;
  border-bottom: 1px solid rgb(205, 205, 205);
}

.edit-profile {
  text-decoration: none;
  color: rgb(94, 94, 249);
}

.list-itens {
  list-style: none;
}

.list-itens > li {
  margin: 2px 0;
  padding: 5px 0;
  border: 1px solid rgb(229, 236, 242);
  background-color: rgb(229, 236, 242);
}

.list-itens > li > a {
  text-decoration: none;
  color: rgb(94, 94, 249);
}

.container {
  margin-top: 20px;
  margin-left: 20px;
}

.main-name {
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 8px;
}

.sub-info {
  color: rgb(134, 134, 134);;
}

.catchphrase {
  border: 1px solid rgb(205, 205, 205);
  color: rgb(134, 134, 134);
  margin: 20px 0;
  max-width: 90%;
  padding: 10px;
}
