* {
/*Box model stuff*/
  margin: 0;
  padding: 0;
  border: 0;
/*Typography stuff*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
/*Box model stuff*/
  background-color: rgb(212, 228, 241);
}

header { 
/*Box model stuff*/
  padding: 2px 0;
  background-color: rgb(59, 143, 208);
/*Typography stuff*/
  font-size: 20px;
}

a {
/*Typography stuff*/
  text-decoration: none;
  color: rgb(94, 94, 249);
}

.links-container > li {
/*Display stuff*/
  display: inline-block;
/*Box model stuff*/
  margin: 0 16px;
  padding: 10px;
}

.links-container > li > a {
/*Typography stuff*/
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}

.links-container > li:first-child  > a{
/*Box model stuff*/
  padding: 10px 20px;
  background-color: rgb(235, 235, 235);
/*Typography stuff*/
  font-weight: bolder;
  color: rgb(255, 35, 193);
}

.main-container {
/*Box model stuff*/
  width: 100%;
  margin-top: 20px;
/*Typography stuff*/
  text-align: center;
}

.left-content , .center-content , .rigth-content {
/*Display stuff*/
  display: inline-block;
/*Box model stuff*/
  padding: 5px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
/*Miscellaneous*/
  vertical-align: top;
}

.left-content {
/*Box model stuff*/
  width: 15%;
}

.center-content {
/*Box model stuff*/
  width: 52%;
  border-radius: 8px 100px 8px 8px;
/*Typography stuff*/
  text-align: left;
}

.rigth-content {
/*Box model stuff*/
  width: 25%;
}

#cadu-img {
/*Box model stuff*/
  width: 90%;
  margin-bottom: 6px;
  padding-bottom: 15px;
  padding-top: 10px;
  border-bottom: 3px solid rgb(205, 205, 205);
}

.main-container > .left-content > div {
/*Box model stuff*/
  padding-left: 10px;
/*Typography stuff*/
  text-align: left;
}

.sub-name {
/*Typography stuff*/
  font-weight: bolder;
  color: rgb(20, 140, 214);
}

.main-container > .left-content > div > p:first-of-type {
/*Box model stuff*/
  margin-top: 10px;
}

.main-container > .left-content > div > p {
/*Typography stuff*/
  color: rgb(134, 134, 134);
}

.main-container > .left-content > div {
/*Box model stuff*/
  margin-bottom: 6px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(205, 205, 205);
}

.edit-profile {
/*Typography stuff*/
  text-decoration: none;
  color: rgb(94, 94, 249);
}

.list-itens {
/*Miscellaneous*/
  list-style: none;
}

.list-itens > li {
/*Box model stuff*/
  margin: 2px 0;
  padding: 5px 0;
  border: 1px solid rgb(229, 236, 242);
  background-color: rgb(229, 236, 242);
}

.list-itens > li > a {
/*Typography stuff*/
  text-decoration: none;
  color: rgb(94, 94, 249);
}

.container {
/*Box model stuff*/
  margin-left: 20px;
  margin-top: 20px;
}

.main-name {
/*Box model stuff*/
  margin-bottom: 8px;
/*Typography stuff*/
  font-size: 30px;
  font-weight: 300;
}

.sub-info {
/*Typography stuff*/
  color: rgb(134, 134, 134);
}

.catchphrase {
/*Box model stuff*/
  max-width: 90%;
  margin: 20px 0;
  padding: 10px;
  border: 1px solid rgb(205, 205, 205);
/*Typography stuff*/
  color: rgb(134, 134, 134);
}

.container-center-itens {
/*Box model stuff*/
  margin-right: 42px;
  padding: 10px 0;
  border-bottom: 1px;
  border-top: 1px;
  border-style: solid;
  border-color: rgb(205, 205, 205);
}

.center-itens {
/*Display stuff*/
  display: inline-block;
/*Box model stuff*/
  margin-right: 16px;
}

.center-itens > p {
/*Typography stuff*/
  color: rgb(134, 134, 134);
}

.itens-number {
/*Typography stuff*/
  color: rgb(94, 94, 249);
}
